<p id="notice"><%= notice %></p>
 <!-- Main jumbotron for a primary marketing message or call to action -->
 <body>
  <%= render 'shared/banner' %>

<div class="container">
    <div class="row">

     <% @events.each do |event| %>
      <%= render 'shared/card', event: event %>
     <% end %>
    </div>
</div>


</body>
