<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style/style.css">
    <title>Event Brite</title>
</head>
<body class="form-body">
    <div class="form-body">
        <form class="form">
          <h1 class="form-h1">New Event</h1>
          <fieldset>
          <div class="form-group">
            <label for="exampleInputFirstName">Title</label>
            <input type="title" class="form-control" id="exampleInputTitle" aria-describedby="TitleHelp" placeholder="Enter Event Title">
            <small id="TitleHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
                <label for="exampleInputLocation">Location</label>
                <input type="location" class="form-control" id="exampleInputLocation" aria-describedby="LocationHelp" placeholder="Enter Location">
                <small id="LocationHelp" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label class="control-label">Price</label>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Amount (to the nearest euro)">
                    <div class="input-group-append">
                      <span class="input-group-text">€</span>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="form-group date2">
                    <label class="control-label">Date and time</label>
                    <div class="form-group">
                      <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00" id="example-datetime-local-input">
                    </div>
                  </div>

            <div class="form-group names time">
                <label class="control-label">Event duration</label>
                <select class="custom-select">
                    <option selected="">Duration in minutes</option>
                    <option value="1">5</option>
                    <option value="2">10</option>
                    <option value="3">15</option>
                    <option value="4">20</option>
                    <option value="5">25</option>
                    <option value="6">30</option>
                    <option value="7">35</option>
                    <option value="8">40</option>
                    <option value="9">45</option>
                    <option value="10">50</option>
                    <option value="11">55</option>
                    <option value="12">60</option>
                    <option value="13">65</option>
                    <option value="14">70</option>
                </select>
            </div>
          </fieldset>
         <div class="form-group">
          <label class="control-label">Pictures</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Pick photos for your event</label>
                </div>
            </div>
                  
          <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
    </div>
    </body>   
</html>


<div class="form-group date2">
    <%= form.label :start_date %><br />
    <%= form.datetime_select :start_date %>
  </div>